<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/shrine2.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Reaching Chhindwara</h1>
                        <!-- <span class="subheading">Let's jot something down today...</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Travel Information to Chhindwara</h2>

                <p>Chhindwara can be approached by road from Nagpur (distance 127 kms.), Jabalpur (distance 197 kms.), or Bhopal (distance 278 kms.). Taxis and buses are readily available from these cities to Chhindwara.</p>

                <p>So after reaching any of these major cities, you can take a bus to Chhindwara. From Chhindwara bus station, you can grab a taxi to the Pooja Venue: Linga Aashram, Chhindwara.</p>
                
                </div>
                <div class="transport-method">
                    <h3>1. BY AIR</h3>
                    <p>Take a flight to any of the nearest International Airports among Nagpur, Bhopal, or Jabalpur. From Nagpur, Bhopal, or Jabalpur, catch a bus for Chhindwara. Take a cab or auto-rickshaw to the Linga Aashram.</p>
                </div>

                <div class="transport-method">
                    <h3>2. BY RAILWAY</h3>
                    <p>Take a train to any of the nearest major railway cities among Nagpur, Bhopal, or Jabalpur. From Nagpur, Bhopal, or Jabalpur, catch a bus for Chhindwara. Take a cab or auto-rickshaw to the Linga Aashram.</p>
                </div>

                <div class="transport-method">
                    <h3>3. BY BUS</h3>
                    <p>Take a bus to any of the nearest major railway cities among Nagpur, Bhopal, or Jabalpur. From Nagpur, Bhopal, or Jabalpur, catch a bus for Chhindwara. Take a cab or auto-rickshaw to the Linga Aashram.</p>
                <hr class="my-4" />   
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer"); -%>