<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/shrine2.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Reaching Chhindwara</h1>
                        <!-- <span class="subheading">Let's jot something down today...</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

<main class="mb-4">
    <div id="englishContent">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Travel Information to Chhindwara</h2>
                    <p>Chhindwara can be approached by road from Nagpur (distance 127 kms.), Jabalpur (distance 197 kms.), or Bhopal (distance 278 kms.). Taxis and buses are readily available from these cities to Chhindwara.</p>
                    <p>So after reaching any of these major cities, you can take a bus to Chhindwara. From Chhindwara bus station, you can grab a taxi to the Puja Venue: Linga Aashram, Chhindwara.</p>
                    
                    <div class="page">
                        <div class="transport-method ">
                            <h3>1. BY AIR</h3>
                            <p>Take a flight to any of the nearest International Airports among Nagpur, Bhopal, or Jabalpur. From Nagpur, Bhopal, or Jabalpur, catch a bus for Chhindwara. Take a cab or auto-rickshaw to the Linga Aashram.</p>
                        </div>
        
                        <div class="transport-method">
                            <h3>2. BY RAILWAY</h3>
                            <p>Take a train to any of the nearest major railway cities among Nagpur, Bhopal, or Jabalpur. From Nagpur, Bhopal, or Jabalpur, catch a bus for Chhindwara. Take a cab or auto-rickshaw to the Linga Aashram.</p>
                        </div>
        
                        <div class="transport-method">
                            <h3>3. BY BUS</h3>
                            <p>Take a bus to any of the nearest major railway cities among Nagpur, Bhopal, or Jabalpur. From Nagpur, Bhopal, or Jabalpur, catch a bus for Chhindwara. Take a cab or auto-rickshaw to the Linga Aashram.</p>
                        </div>
                    </div>
                    
                    <hr class="my-4" />  
                </div>
            </div>
        </div>
    </div>
    
    <div id="hindiContent" style="display: none;">

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>छिंदवाड़ा पहुंचने के लिए यात्रा सूचना</h2>
    
                    <p>नागपुर से (दूरी 127 किलोमीटर), जबलपुर से (दूरी 197 किलोमीटर), या भोपाल से (दूरी 278 किलोमीटर) रास्ते से छिंदवाड़ा पहुंचा जा सकता है। इन शहरों से छिंदवाड़ा के लिए टैक्सियां और बसें उपलब्ध हैं।</p>
    
                    <p>तो इनमें से किसी भी प्रमुख शहर पहुंचने के बाद, आप छिंदवाड़ा के लिए एक बस ले सकते हैं। छिंदवाड़ा बस स्टेशन से, आप लिंगा आश्रम, छिंदवाड़ा की ओर एक टैक्सी पकड़ सकते हैं।</p>
    
                    <div class="page">
                        <div class="transport-method ">
                            <h3>1. हवाई जहाज से</h3>
                            <p>नागपुर, भोपाल, या जबलपुर के बीच से सबसे निकट अंतरराष्ट्रीय हवाई अड्डों में से किसी एक तक फ्लाइट लें। नागपुर, भोपाल, या जबलपुर से, छिंदवाड़ा के लिए बस पकड़ें। लिंगा आश्रम की ओर टैक्सी या ऑटो-रिक्शा लें।</p>
                        </div>
    
                        <div class="transport-method">
                            <h3>2. रेल से</h3>
                            <p>नागपुर, भोपाल, या जबलपुर के बीच से सबसे निकट प्रमुख रेलवे शहरों में से किसी एक तक ट्रेन लें। नागपुर, भोपाल, या जबलपुर से, छिंदवाड़ा के लिए बस पकड़ें। लिंगा आश्रम की ओर टैक्सी या ऑटो-रिक्शा लें।</p>
                        </div>
    
                        <div class="transport-method">
                            <h3>3. बस से</h3>
                            <p>नागपुर, भोपाल, या जबलपुर के बीच से सबसे निकट प्रमुख रेलवे शहरों में से किसी एक तक बस लें। नागपुर, भोपाल, या जबलपुर से, छिंदवाड़ा के लिए बस पकड़ें। लिंगा आश्रम की ओर टैक्सी या ऑटो-रिक्शा लें।</p>
                        </div>
                    </div>
                    
                    <hr class="my-4" />  
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer"); -%>
