<!-- views/confirmation.ejs -->

<%- include("partials/header"); -%>
<header class="masthead" style="background-image: url('/assets/img/maa_charan.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                   
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 class="mb-3">Registration Successful!</h1>
                <p>Your unique enrollment number is:<span class="text-success fw-bold"> <%= uniqueEnrollmentNumber %></span> </p>
                <p class="fs-3 fw-bold">Please note down this Registration Number or take a screenshot of this page! 📸</p>
            </div>
        </div>
    </div>
</main>
</html>
