<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/maa_charan.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">JAI SHREE MATAJI 🙏🏻🪷 </h1>
                        <span class="subheading fs-5">We welcome our brothers and sisters from all corners of the world to celebrate 101st Birth Anniversary of our most beloved mother 💖</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="englishContent">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  
                  <h6 class="text-center fs-6">H. H. SHREE MATAJI NIRMALA DEVI SAHAJA YOGA TRUST, INDIA</h6>
                  <h2 class="text-center">INTERNATIONAL BIRTHDAY POOJA 2024</h2>
                  <p class="text-center mt-0">19th - 21st March, 2024 | Chhindwara, M.P, India</p>

                  <img src="assets/img/maa.webp" class="col-md-12 rounded-5">

                  <h3 class="text-center mt-3">Message for World Collectivity</h3>
                  <p class="fst-italic para fs-6"  style="text-align: justify;"> “It is nice that you are celebrating my birthday with such enthusiasm, and so
                      much happiness. So nice to see all this, and I want you all to be my
                      decorations! In the whole world they should see that you are my children and
                      that you are of such great values and such great understanding. You are my
                      children. I have really worked for you, in the sense that every moment of my
                      life, I have thought of you: I wanted to work it out in such a beautiful manner
                      that you become really good people, ideal people, special people, with
                      understanding. So, that is the day you should feel that your birthday is being
                      celebrated. When you have completely cleared out, you have become nirmal,
                      absolutely pure personality of love – that’s the day is your birthday, and mine
                      too.”</p>
                  <p class="text-center mt-0 fw-bold">H. H. Shree Mataji Nirmala Devi</p>
                  

                  <hr>
                  <h3  class="text-center">REGISTRATION INFORMATION</h3>
                  <p class="fw-bold">FOR INDIAN YOGIS</p>
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">CATEGORY</th>
                              <th scope="col">CONTRIBUTION</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Bal Shakti</td>
                              <td>Rs. 1000/-</td>
                          </tr>
                          <tr>
                              <td>Yuva Shakti</td>
                              <td>Rs. 1500/-</td>
                          </tr>
                            <td>Adults</td>
                            <td>Rs. 2000/-</td>
                          </tr>
                          </tr>
                            <td>One Day Pooja (All)</td>
                            <td>Rs. 700/-</td>
                          </tr>
                    </tbody>
                </table>
              <tr>
                  
                  <p class="fw-bold">FOR FOREIGN YOGIS</p>
                  <p>CATEGORY: All | CONTRIBUTION: Rs. 5000/-</p>
                  <hr>
              </div>
          </div>
      </div>
      
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                <a href="registration" class="btn btn-success custom-btn  rounded mx-auto d-block">Click here for Registration!</a>
                
            </div>
        </div>
    </div>
      
      <div class="container page mb-5 mt-4">
          <h3  class="text-center ">CONTACT INFORMATION</h3>
          <table class="table  border-dark  table-responsive-md">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name & Team</th>
                <th scope="col">Contact Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >Shreyansh Jain - Registration Team</td>
                <td >+91 9039391390</td>
              </tr>
              <tr>
                <td >Manish Sahu - Registration Team</td>
                <td >+91 9754850043</td>
              </tr>
              <tr>
                <td >Narendra Nannaware - Accommodation Team</td>
                <td >+91 9423620253</td> <!-- Add the actual number -->
              </tr>
              <tr>
                <td >Kishor Kapoor - Accommodation Team</td>
                <td >+91 9422136691</td> <!-- Add the actual number -->
              </tr>
              <tr>
                <td >Milind Dalal - Cultural Team</td>
                <td >+91 9881483804</td> <!-- Add the actual number -->
              </tr>
              <tr>
                <td >Mr. Praveen Bharti - Transportation Team at Nagpur</td>
                <td >+91 7972657590</td>
              </tr>
              <tr>
                <td >Mr. Sachin Patil - Transportation Team at Nagpur</td>
                <td >+91 9823194500</td>
              </tr>
              <tr>
                <td >Mr. Sorav Sawde - Transportation Team at Chhindwara</td>
                <td >+91 9406565007</td>
              </tr>
            </tbody>
          </table>

          <h3  class="text-center ">POOJA ORGANIZING CHANNELS</h3>
          <table class="table  border-dark  table-responsive-md">
            <tbody>
              <!-- <tr>
                <td >Mr. Ramesh Mantana</td>
                <td >+91 9866522879</td>
              </tr>
              <tr>
                <td >Dr. Pratap Udwani</td>
                <td >+91 9326865717</td>
              </tr> -->
              <tr>
                <td >Ms. Sonali Bhattacharya</td>
                <td >+91 9893333081</td>
              </tr>
              <tr>
                <td >Mr. Ajit Ranaware</td>
                <td >+91 9422310494</td>
              </tr>
              <tr>
                  <td>Mr. Jayant Haldar</td>
                  <td>+91 9752475940</td>
              </tr>
              <tr>
                  <td>Mr. Amit Goyal</td>
                  <td>+91 9981516427</td>
              </tr>
              <tr>
                  <td>Mr. Vikas Jundre</td>
                  <td>+91 9881831224</td>
              </tr>
            </tbody>
          </table>
          
          <h3 class="mb-0 text-center mt-2 ms-3 me-3">Hotel Accommodation</h3>
          <p class= " mt-1 fw-bold text-justify  ms-3 me-3">A collective accommodation and food will be arranged at the Linga Aashram. If you need any special assistance or you want to stay at the nearby hotels please contact:</p>
          <ul class="mt-0">
              <li>Shri Naresh Thatare, 9406734447</li>
              <li>Shri Virendra Vajpayee, 9425146024</li>
          </ul>
        </div>
    </div>

    <div id="hindiContent" style="display: none;">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <h6 class="text-center fs-6">एच. एच. श्री माताजी निर्मला देवी सहज योग ट्रस्ट, इंडिया</h6>
                <h2 class="text-center">अंतरराष्ट्रीय जन्मदिन पूजा 2024</h2>
                <p class="text-center mt-0">19 मार्च - 21 मार्च, 2024 | छिंदवाड़ा, म.प्र., भारत</p>

                <img src="assets/img/maa.webp" class="col-md-12 rounded-5">

                <h3 class="text-center mt-3">विश्व समृद्धि के लिए संदेश</h3>
                <p class="fst-italic para fs-6"  style="text-align: justify;"> "यह अच्छा है कि आप मेरे जन्मदिन का इतना उत्साह और इतनी खुशी के साथ
                    मना रहे हैं। ऐसा सब कुछ देखना बहुत अच्छा है, और मैं चाहती हूँ कि आप सभी मेरे
                    सज्जीव चिन्ह हों! पूरी दुनिया में उन्हें यह दिखना चाहिए कि आप मेरे बच्चे हैं और
                    आप इतने बड़े मूल्यों और इतने अच्छे बुद्धिमत्ता के हैं। आप मेरे
                    बच्चे हैं। मैंने वास्तविक रूप से आपके लिए काम किया है, इस प्रकार
                    की मेरी जीवन की हर क्षण, मैंने सोचा कि आप सब इसे इस प्रकार से
                    सुंदर बना दो, जिससे आप सच्चे अच्छे लोग, आदर्श लोग, विशेष लोग, बन
                    जाओ। समझदारी के साथ। तो, वह दिन आएगा जब आपको यह महसूस होगा कि आपका जन्मदिन
                    मनाया जा रहा है। जब आपने पूरी तरह से साफ कर लिया है, आप निर्मल
                    हो गए हैं, पूर्णतः पवित्र प्रेम की व्यक्तित्व - तब वह दिन आपका जन्मदिन है, और
                    मेरा भी। "</p>
                <p class="text-center mt-0 fw-bold">एच. एच. श्री माताजी निर्मला देवी</p>
                

                <hr>
                <h3  class="text-center">पंजीकरण सूचना</h3>
                <p class="fw-bold">भारतीय योगियों के लिए</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">श्रेणी</th>
                            <th scope="col">योगदान</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>बाल शक्ति</td>
                            <td>रु. 1000/-</td>
                        </tr>
                        <tr>
                            <td>युवा शक्ति</td>
                            <td>रु. 1500/-</td>
                        </tr>
                        <td>वयस्क</td>
                        <td>रु. 2000/-</td>
                    </tr>
                  </tr>
                  <td>एक दिन पूजा (All)</td>
                  <td>Rs. 700/-</td>
                </tr>
                </tbody>
            </table>
            <tr>
                
                <p class="fw-bold">विदेशी योगियों के लिए</p>
                <p>श्रेणी: सभी | योगदान: रु. 5000/-</p>
              </div>
            </div>
          </div>
          
          <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                <a href="registration" class="btn btn-success custom-btn  rounded mx-auto d-block">पंजीकरण के लिए यहाँ क्लिक करें!</a>
                
              </div>
            </div>
          </div>
          <hr>
    
    <div class="container page mb-5 mt-4">
        <h3  class="text-center ">संपर्क सूचना</h3>
        <table class="table  border-dark  table-responsive-md">
          <thead class="thead-dark">
            <tr>
              <th scope="col">नाम और टीम</th>
              <th scope="col">संपर्क नंबर</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td >श्रेयांश जैन - पंजीकरण टीम</td>
              <td >+91 9039391390</td>
            </tr>
            <tr>
              <td >मनीष साहू - पंजीकरण टीम</td>
              <td >+91 9754850043</td>
            </tr>
            <tr>
              <td >नरेंद्र नन्नावरे - आवास टीम</td>
              <td >+91 9423620253</td> <!-- वास्तविक नंबर जोड़ें -->
            </tr>
            <tr>
              <td >किशोर कपूर - आवास टीम</td>
              <td >+91 9422136691</td> <!-- वास्तविक नंबर जोड़ें -->
            </tr>
            <tr>
              <td >मिलिंद दलाल - सांस्कृतिक टीम</td>
              <td >+91 9881483804</td> <!-- वास्तविक नंबर जोड़ें -->
            </tr>
            <tr>
              <td >श्री प्रवीण भारती - नागपुर परिवहन टीम</td>
              <td >+91 7972657590</td>
            </tr>
            <tr>
              <td >श्री सचिन पाटिल - नागपुर परिवहन टीम</td>
              <td >+91 9823194500</td>
            </tr>
            <tr>
              <td >श्री सोरव सावड़े - छिंदवाड़ा परिवहन टीम</td>
              <td >+91 9406565007</td>
            </tr>
          </tbody>
        </table>

        <h3  class="text-center ">पूजा संगठन चैनल्स</h3>
        <table class="table  border-dark  table-responsive-md">
          <tbody>
            <!-- <tr>
              <td >श्री रमेश मंतना</td>
              <td >+91 9866522879</td>
            </tr>
            <tr>
              <td >डॉ. प्रताप उद्वानी</td>
              <td >+91 9326865717</td>
            </tr> -->
            <tr>
              <td >श्रीमती सोनाली भट्टाचार्या</td>
              <td >+91 9893333081</td>
            </tr>
            <tr>
              <td >श्री अजीत रणावरे</td>
              <td >+91 9422310494</td>
            </tr>
            <tr>
                <td >श्री जयंत हलदार</td>
                <td >+91 9752475940</td>
            </tr>
            <tr>
                <td >श्री अमित गोयल</td>
                <td >+91 9981516427</td>
            </tr>
            <tr>
                <td >श्री विकास जुंद्रे</td>
                <td >+91 9881831224</td>
            </tr>
          </tbody>
        </table>
        
        <h3 class="mb-0 text-center mt-2 ms-3 me-3">होटल आवास</h3>
        <p class= " mt-1 fw-bold text-justify  ms-3 me-3">लिंगा आश्रम पर समृद्धि और आहार का संगठित आवास किया जाएगा। यदि आपको कोई विशेष सहायता चाहिए या आप किसी नजदीकी होटल में रुकना चाहते हैं तो कृपया संपर्क करें:</p>
        <ul class="mt-0">
            <li>श्री नरेश ठतरे, 9406734447</li>
            <li>श्री वीरेंद्र वाजपेयी, 9425146024</li>
        </ul>
      </div>
    </div>
      
<%- include("partials/footer"); -%>
