<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/maa_charan.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">JAI SHREE MATAJI 🙏🏻🪷 </h1>
                        <span class="subheading fs-5">We welcome our brothers and sisters from all corners of the world to celebrate 101st Birth Anniversary of our most beloved mother 💖</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <h6 class="text-center fs-5"><pre>H. H. SHREE MATAJI NIRMALA DEVI</pre></h6>
                <h6 class="text-center fs-5 "><pre>SAHAJA YOGA TRUST</pre></h6>
                <h2 class="text-center">INTERNATIONAL BIRTHDAY POOJA 2024</h2>
                <p class="text-center mt-0">19th - 21st March, 2024 | Chhindwara, M.P, India</p>

                <img src="assets/img/maa.jpg" class="col-md-12 rounded-5">

                <h3 class="text-center mt-3">Message for World Collectivity</h3>
                <p class="fst-italic para fs-6"  style="text-align: justify;"> “It is nice that you are celebrating my birthday with such enthusiasm, and so
                    much happiness. So nice to see all this, and I want you all to be my
                    decorations! In the whole world they should see that you are my children and
                    that you are of such great values and such great understanding. You are my
                    children. I have really worked for you, in the sense that every moment of my
                    life, I have thought of you: I wanted to work it out in such a beautiful manner
                    that you become really good people, ideal people, special people, with
                    understanding. So, that is the day you should feel that your birthday is being
                    celebrated. When you have completely cleared out, you have become nirmal,
                    absolutely pure personality of love – that’s the day is your birthday, and mine
                    too.”</p>
                <p class="text-center mt-0 fw-bold">H. H. Shree Mataji Nirmala Devi</p>
                

                <hr>
                <h3  class="text-center">REGISTRATION INFORMATION</h3>
                <p class="fw-bold">FOR INDIAN YOGIS</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">CONTRIBUTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bal Shakti</td>
                            <td>Rs. 1200/-</td>
                        </tr>
                        <tr>
                            <td>Yuva Shakti</td>
                            <td>Rs. 1800/-</td>
                        </tr>
                        <td>Adults</td>
                        <td>Rs. 2300/-</td>
                    </tr>
                </tbody>
            </table>
            <tr>
                
                <p class="fw-bold">FOR FOREIGN YOGIS</p>
                <p>CATEGORY: All | CONTRIBUTION: Rs. 5000/-</p>
                <hr>
            </div>
        </div>
    </div>
    
    
    <div class="container page mb-5">
        <h3  class="text-center ">CONTACT INFORMATION</h3>
        <table class="table  border-dark  table-responsive-md">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name & Team</th>
              <th scope="col">Contact Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td >Shreyansh Jain - Registration Team</td>
              <td >+91 9039391390</td>
            </tr>
            <tr>
              <td >Manish Sahu - Registration Team</td>
              <td >+91 9754850043</td>
            </tr>
            <tr>
              <td >Sahaji Behan - Accommodation Team</td>
              <td >+91 XXXXXXXXXX</td> <!-- Add the actual number -->
            </tr>
            <tr>
              <td >Sahaji Bhai - Accommodation Team</td>
              <td >+91 XXXXXXXXXX</td> <!-- Add the actual number -->
            </tr>
            <tr>
              <td >Mr. Praveen Bharti - Transportation Team at Nagpur</td>
              <td >+91 7972657590</td>
            </tr>
            <tr>
              <td >Mr. Sachin Patil - Transportation Team at Nagpur</td>
              <td >+91 9823194500</td>
            </tr>
            <tr>
              <td >Mr. Sorav Sawde - Transportation Team at Chhindwara</td>
              <td >+91 9406565007</td>
            </tr>
          </tbody>
        </table>
        
        <h3 class="mb-0 text-center mt-2">Hotel Accommodation</h3>
        <p class= " mt-1 fw-bold text-justify">A collective accommodation and food will be arranged at the Linga Aashram. If you need any special assistance or you want to stay at the nearby hotels please contact:</p>
        <ul class="mt-0">
            <li>Shri Naresh Thatare, 9406734447</li>
            <li>Shri Virendra Vajpayee, 9425146024</li>
        </ul>
      </div>
      
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                <a href="registration" class="btn btn-success custom-btn  rounded mx-auto d-block">Click here to Register!</a>
                
            </div>
        </div>
    </div>
<%- include("partials/footer"); -%>