<%- include("partials/header"); -%>
    
    <header class="masthead" style="background-image: url('/assets/img/vibrations.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Puja Schedule</h1>
                        <span class="subheading">Please find the schedule for 101st Birthday Puja.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mb-4">
        <div id="englishContent">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <div class="day">
                            <h2>19th March (Day 1)</h2>
                            <div class="schedule">
                                <div class="time">05:30 AM - 06:30 AM</div>
                                <div class="event">Morning Meditation</div>
                    
                                <div class="time">06:30 AM Onwards</div>
                                <div class="event">Meditation with Instrumental</div>
                    
                                <div class="time">08:00 AM Onwards</div>
                                <div class="event">Registration Begins</div>
                    
                                <div class="time">04:30 PM Onwards</div>
                                <div class="event">Havan</div>
                    
                                <div class="time">06:30 PM Onwards</div>
                                <div class="event">Inauguration & Cultural Events</div>
                            </div>
                        </div>
                        <hr>
                        
                        <div class="day">
                            <h2>20th March (Day 2)</h2>
                            <div class="schedule">
                                <div class="time">05:30 AM - 06:30 AM</div>
                                <div class="event">Morning Meditation</div>
                                
                                <div class="time">06:30 AM Onwards</div>
                                <div class="event">Meditation with Instrumental</div>
                                
                                <div class="time">10:00 AM - 11:00 AM</div>
                                <div class="event">Meditation and Music therapy</div>
                    
                                <div class="time">11:00 AM - 02:00 PM</div>
                                <div class="event">Seminar on Vertical Growth 💫</div>
    
                                <div class="time">02:00 PM - 03:00 PM</div>
                                <div class="event">Rare videos of Shri Mataji 🪷</div>
                    
                                <div class="time">03:00 PM - 04:00 PM</div>
                                <div class="event">Activities for Yuvas</div>
                                
                                <div class="time">05:00 PM - 07:00 PM</div>
                                <div class="event">Seminar</div>
                                
                                <div class="time">07:00 PM Onwards</div>
                                <div class="event">Cultural Programs</div>
                                
                                <div class="time">11:00 PM - 12:30 PM</div>
                                <div class="event">Fusion by all Musicians</div>
                            </div>
                            <div class="page mt-2 text-center fw-bold">12:00 AM Cake Cutting Ceremony 🥳🎂</div>
                        </div>
                        <hr>
                        
                        <div class="day">
                            <h2>21st March (Day 3)</h2>
                            <div class="schedule">
                                <div class="time">05:30 AM - 06:30 AM</div>
                                <div class="event">Morning Meditation</div>
                    
                                <div class="time">06:30 AM - 07:00 AM</div>
                                <div class="event">Meditation with Instrumental</div>
                    
                                <div class="time">10:00 AM - 11:00 AM</div>
                                <div class="event">Musical Session 🎵</div>
                    
                                <div class="time">11:00 AM - 11:30 AM</div>
                                <div class="event">Documentaries & Experiences</div>
                    
                                <div class="time">11:30 AM - 12:15 PM</div>
                                <div class="event">Musical Session 🎵</div>
                    
                                <div class="time">12:15 PM - 02:00 PM</div>
                                <div class="event">Cultural Programs ✨</div>
                    
                                <div class="time">05:00 PM Onwards</div>
                                <div class="event">Birthday Puja 💖</div>
                    
                                <div class="time">08:00 PM Onwards</div>
                                <div class="event">Musical Session 🎵</div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hindiContent" style="display: none;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
            
                        <div class="day">
                            <h2>19 मार्च (दिन 1)</h2>
                            <div class="schedule">
                                <div class="time">05:30 AM - 06:30 AM</div>
                                <div class="event">सुबह की ध्यान</div>
            
                                <div class="time">06:30 AM से आगे</div>
                                <div class="event">संगीत के साथ ध्यान</div>
            
                                <div class="time">08:00 AM से आगे</div>
                                <div class="event">रजिस्ट्रेशन शुरू होता है</div>
            
                                <div class="time">04:30 PM से आगे</div>
                                <div class="event">हवन</div>
            
                                <div class="time">06:30 PM से आगे</div>
                                <div class="event">उद्घाटन और सांस्कृतिक कार्यक्रम</div>
                            </div>
                        </div>
                        <hr>
            
                        <div class="day">
                            <h2>20 मार्च (दिन 2)</h2>
                            <div class="schedule">
                                <div class="time">05:30 AM - 06:30 AM</div>
                                <div class="event">सुबह की ध्यान</div>
            
                                <div class="time">06:30 AM से आगे</div>
                                <div class="event">संगीत के साथ ध्यान</div>
            
                                <div class="time">10:00 AM - 11:00 AM</div>
                                <div class="event">ध्यान और संगीत चिकित्सा</div>
            
                                <div class="time">11:00 AM - 02:00 PM</div>
                                <div class="event">उच्च विकास पर सेमिनार 💫</div>
            
                                <div class="time">02:00 PM - 03:00 PM</div>
                                <div class="event">श्री माताजी के अनूठे वीडियो 🪷</div>
            
                                <div class="time">03:00 PM - 04:00 PM</div>
                                <div class="event">युवा के लिए क्रियाएँ 🥳</div>
            
                                <div class="time">05:00 PM - 07:00 PM</div>
                                <div class="event">सेमिनार</div>
            
                                <div class="time">07:00 PM से आगे</div>
                                <div class="event">सांस्कृतिक कार्यक्रम</div>
            
                                <div class="time">11:00 PM - 12:30 PM</div>
                                <div class="event">सभी संगीतकारों के साथ फ्यूजन</div>
                            </div>
                            <div class="page mt-2 text-center fw-bold">12:00 AM केक काटने का समारोह 🥳🎂</div>
                        </div>
                        <hr>
            
                        <div class="day">
                            <h2>21 मार्च (दिन 3)</h2>
                            <div class="schedule">
                                <div class="time">05:30 AM - 06:30 AM</div>
                                <div class="event">सुबह की ध्यान</div>
            
                                <div class="time">06:30 AM - 07:00 AM</div>
                                <div class="event">संगीत के साथ ध्यान</div>
            
                                <div class="time">10:00 AM - 11:00 AM</div>
                                <div class="event">संगीत सत्र 🎵</div>
            
                                <div class="time">11:00 AM - 11:30 AM</div>
                                <div class="event">डॉक्यूमेंट्री और अनुभव</div>
            
                                <div class="time">11:30 AM - 12:15 PM</div>
                                <div class="event">संगीत सत्र 🎵</div>
            
                                <div class="time">12:15 PM - 02:00 PM</div>
                                <div class="event">सांस्कृतिक कार्यक्रम ✨</div>
            
                                <div class="time">05:00 PM से आगे</div>
                                <div class="event">जन्मदिन पूजा 💖</div>
            
                                <div class="time">08:00 PM से आगे</div>
                                <div class="event">संगीत सत्र 🎵</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

<%- include("partials/footer"); -%>