<%- include("partials/header"); -%>
    
    <header class="masthead" style="background-image: url('/assets/img/vibrations.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Pooja Schedule</h1>
                        <span class="subheading">Please find the schedule for 101st Birthday Pooja.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sahaja Yogi</th>
                                <th scope="col">Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Shreyansh Jain (Registration Team)</td>
                                <td class="col-md-5">+91 9039391390</td>
                            </tr>
                            <tr>
                                <td>Manish Sahu (Registration Team)</td>
                                <td>+91 9754850043</td>
                            </tr>
                            <tr>
                                <td>Sahaji Behan (Accommodation Team)</td>
                                <td>+91</td>
                            </tr>
                            <tr>
                                <td>Sahaji Bhai (Accommodation Team)</td>
                                <td>+91</td>
                            </tr>
                            <tr>
                                <td>Mr. Praveen Bharti (Transportation Team at Nagpur)</td>
                                <td>+91 7972657590</td>
                            </tr>
                            <tr>
                                <td>Mr. Sachin Patil (Transportation Team at Nagpur)</td>
                                <td>+91 9823194500</td>
                            </tr>
                            <tr>
                                <td>Mr. Sorav Sawde (Transportation Team at Chhindwara)</td>
                                <td>+91 9406565007</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </main>

<%- include("partials/footer"); -%>